In [9]:
import pandas as pd

df = pd.read_excel("Week 1 Dataset.xlsx")

df.iloc[3:10,1:4]

   Income per month          State  Age
3                24  Uttar Pradesh   26
4                19          Bihar   59
5                21          Bihar   48
6                40          Delhi   30
7                20  Uttar Pradesh   72
8                30      Telangana   22
9                18    Chattisgarh   42